[flake8]

exclude = migrations, __pycache__, venv
max-line-length = 120
extend-ignore =  E128, F405, F403, E722, W293, F401, E251
per-file-ignores = perms.py: F401, tests.py: E501, ./decide/decide/settings.py: F401, .decide/mixnet/mixcrypt.py: E701, F401, ./decide/decide/tests.py: F401
